@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}
body{
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1.7;
    color: #585655;
    background-color: #C1D5EE;
}
a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

/* ログイン
   登録画面
------------------------------- */
.login,
.register,
.fail,
.register-fail,
.logout {
    width: 60%;
    margin: 20vh auto 0;
    text-align: center;
    border: 2px #fff solid;
    border-radius: 5px;
    
}
.login-title ,
.confirm-title,
.register-title, 
.done-title,
.fail-title,
.register-fail-title,
.logout-title {
  font-size: 2rem;
  font-weight: normal;
  color: #585655;
  background-color: #fff;
}
.container {
    max-width:240px;
    margin: 0 auto;
    text-align: center;
}
.id-container,
.pass-container {
    display: flex;
    margin: 2rem 0 1rem 0;
}
form img {
    width: 18px;
    height: 15px;
    margin-top: 5px;
}
.login form span, 
.register form span {
  background: rgba(255,255,255,.5);
  border: 1px #fff solid;
  border-radius:  5px 0 0 5px;
  color: #606468;
  text-align: center;
  width: 50px;
  height: 50px;
  padding-top: 10px;
  
}
input[type="text"] ,
input[type="password"] {
    background: rgba(255,255,255,.5);
    border: 1px #fff solid;
    border-radius: 0 5px 5px 0;
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    height: 50px;
}

#id,
#pass {
    font-size: 1rem;
    
}
#login-submit, 
#register-submit {
    color:#fff ;
    cursor: pointer;
    font-size: 1.5rem;
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 10px;
    margin-top: 1rem;
    width: 100%;
    background-color: #EFCF63;
}

#login-submit:hover, 
#register-submit:hover {
    background-color: #95B94F;
}
.register-button {
    width:50%;
    text-align: center;
    font-size: 0.8rem;
    color: #585655;
    margin: 1rem 0 1rem;
}
.register-button:hover {
    border-bottom: 1px rgba(184, 185, 185, 1) solid;
    color: rgba(184, 185, 185, 1);
    cursor: pointer;
}
.register-button a {
    color: #585655;
}

    
/* 確認画面
------------------------------- */
.confirm, 
.done {
    width: 60%;
    margin: 20vh auto 0;
    text-align: center;
    border: 2px #fff solid;
    border-radius: 5px;
    
}
.container-confirm,
.container-done,
.container-logout {
    max-width:100%;
    padding: 0 10px;
    margin: 0 auto;
    text-align: center;
}
.confirm-msg, 
.done-msg,
.logout-msg {
    margin-top: 10vh;
    margin-bottom: 10px ;
}
.confirm-msg span, 
.done-msg span,
.logout-msg span {
    background: rgba(255,255,255,.5);
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 5px 10px ;
    margin: 0 5px 0 5px;
    font-size: 1rem;
}
.yes-no {
    display: flex;
    justify-content: space-between;
    max-width: 330px;
    margin: 10vh auto 12vh;
    text-align: center;
}
.yes,
.no {
    width: 150px;
    cursor: pointer;
    font-size: 1.5rem;
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 10px;
    background-color: #EFCF63;
}
.yes-no a {
    color:#fff ;
}
.yes:hover ,
.no:hover {
    background-color: #95B94F;
}

.return {
    width: 150px;
    margin: 10vh auto 13vh auto;
    font-size: 1rem;
}
.return a {
    color: #585655;
}
.return:hover {
    border-bottom: 1px rgba(184, 185, 185, 1) solid;
    color: rgba(184, 185, 185, 1);
    cursor: pointer;
}
/* 失敗画面
------------------------------- */
.fail-msg,
.register-fail-msg {
    margin-top: 10vh;
}
.fail-msg p,
.register-fail p {
    margin-bottom: 1rem;
}
.register-fail-return p{
    margin-bottom: 0;
}
.fail-msg a {
    background: rgba(255,255,255,.5);
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 10px;
    margin: 0 5px 0 5px;
    font-size: 1rem;
    color: #585655;
}
.register-fail-return {
    width: 170px;
    margin: 10vh auto 13vh auto;
    font-size: 1rem;
}
.register-fail-return a {
    color: #585655;
}
.register-fail-return:hover {
    border-bottom: 1px rgba(184, 185, 185, 1) solid;
    color: rgba(184, 185, 185, 1);
    cursor: pointer;
}
/* モバイル版
-----------------------------------*/
@media (max-width: 600px) {

    .login,
    .confirm,
    .register,
    .done,
    .fail, 
    .register-fail,
    .logout {
        width: 90%;
        margin: 15vh auto 0;
    }
    .login-title ,
    .confirm-title,
    .register-title, 
    .done-title,
    .fail-title, 
    .register-fail-title,
    .logout-title {
        font-size: 1rem;
        padding: 10px 0;
    }
    
    .yes,
    .no {
        width: 140px;
    }
}
