@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}
body{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #432;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

/* 冷蔵庫画像 */
h1 {
    text-align: center;
    margin-top: 10vh;
    cursor: pointer;
}
/* 見出し */
.click {
    font-size: 2rem;
    font-family: 'Philosopher', serif;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
}

/* HOME
------------------------------- */
.big-bg {
    display: flex;
    justify-content: center;
    background: #C1D5EE;
}

.big-refrigerator {
    min-width: 400px;
    position: relative;
}
.expiration {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 96vh;
    margin: 2vh 10px;
    background-color:#CAE7F2;
    border-radius: 5%;
}

.home-content{
    display: flex;
    justify-content:center;
}
.cursor {
    object-fit: cover;
}


/* expiration
------------------------------- */
.expiration p {
    margin-bottom: 0.2rem;
}
h3 {
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
    margin-top: 20px;
    height: 5%;
}
h4 {
    font-size: 1rem;
    background-color: #fff;
    font-weight: normal;
    text-align: center;
}
.soon {
    height: 40%;
    position: relative;
}
.over {
    height: 40%;
    margin-bottom: 20px;
    position: relative;
}
.soon-food-hidden {
    background: #95B94F;
    border-radius: 5%;
    color: #000;
    text-align: center;
    margin: 20px;
    width: 90%;
    height: 80%;
    padding-top: 10px;
}
.soon-food-show {
    background: #95B94F;
    border-radius: 5%;
    color: #000;
    position: absolute;
    right: 0;
    height: 80%;
    width: 180%;
    margin: 20px;
    padding: 10px 10px 0 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:flex-start;
}
.over-food-hidden {
    background: #EFCF63;
    border-radius: 5%;
    color: #000;
    text-align: center;
    margin: 20px;
    width: 90%;
    height: 80%;
    padding: 10px; 
}
.over-food-show {
    background: #EFCF63;
    border-radius: 5%;
    color: #000;
    position: absolute;
    right: 0;
    height: 80%;
    width: 180%;
    margin: 20px;
    padding: 10px 10px 0 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:flex-start;
}
.soon-food p,
.over-food p {
    margin-left: 1rem;
}
.soon-all-display,
.over-all-display {
    position: absolute;
    bottom: -13px;
    left: 35%;
    padding: 3px 20px;
    border-radius: 10%;
    cursor: pointer;
}
.soon-food-hidden p:nth-child(n+5),
.over-food-hidden p:nth-child(n+5) {
    display: none;
}

.soon-all-display2,
.over-all-display2 {
    position: absolute;
    bottom: -13px;
    left: 45%;
    padding: 3px 20px;
    border-radius: 10%;
    cursor: pointer;
}
/* 選択肢
------------------------------- */

.branch {
    background-color: #fff;
    padding: 10px;
    border-radius: 5%;
    font-size: 1rem;
    position: absolute;
    top: 15%;
    left: 40%;
    z-index: 1;
}

.hidden {
    display: none;
}
.back,
.back2,
.save,
.delete {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: normal;
}
.back-or-save,
.back-or-delete {
    display: flex;
    justify-content: space-between;
}
.exp-set {
    text-align: center;
}
.exp-set span {
    font-size: 0.6rem;
}
.branch0 {
    font-size: 1rem;
    font-weight: normal;
    padding: 0 10px 0 15px;
}
.branch0 a:hover {
    background-color: rgba(184, 185, 185, 0.692);
    cursor: pointer;
}
.branch-all a:hover,
.back2 a:hover {
    cursor: pointer;
}

#branch-meat,
#branch-vegetable,
#branch-fruit,
#branch-fish,
#branch-dry,
#branch-mushroom,
#branch-egg,
#branch-potato,
#branch-bread,
#branch-rice,
#branch-milk,
#branch-bean,
#branch-noodles {
    display: flex;
    justify-content: space-between;
}
#message {
    text-align: center;
}
/* footer
-----------------------------------*/

.footer {
    padding: 3vh 0;
    text-align: center;
    background-color:#fff ;
}
/* モバイル版
-----------------------------------*/
@media (max-width: 600px) {
    .big-bg {
        display:block;
    }
    .big-refrigerator {
        height: 100vh;
        min-width: none;
        
    }
    .refrigerator {
        margin-top: 10vh;
    }
    .branch{
        top: 20%;
        left: 5%;    
    }
    .expiration {
        display: block;
        width: 100%;
        height: 100vh;
        margin: 0;
        background-color:#CAE7F2;
        border-radius: 0%;
    }
    h3 {
        margin-top: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        height: auto;
    }
    
    .over {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .soon-food-show {
        position: relative;
        bottom: 5%;
        height: 200%;
        width: 90%;
        margin: 20px;
        padding: 10px 10px 0 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content:flex-start;
        z-index: 2;
    }
    .over-food-show {
        position: relative;
        bottom: 130%;
        height: 210%;
        width: 90%;
        margin: 20px;
        padding: 10px 10px 0 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content:flex-start;
        z-index: 2
    }
    .soon-all-display,
    .over-all-display {
        position: absolute;
        bottom: -1rem;
        width: 50%;
        left: 25%;
        z-index: 1    
    }
    .soon-all-display2,
    .over-all-display2 {
        position: absolute;
        bottom: -1rem;
        width: 60%;
        left: 20%;
        z-index: 1
    }
     .footer {
        padding: 5vh 0;
        background-color:#CAE7F2;
    }   
}